<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context= "http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
       						http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/aop
	   						http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/Spring-context-3.0.xsd

">

	<!-- AOP 支持 -->
	<bean id = "test" class = "com.zsj.core.test.controller.aop.TestBean"></bean>
	<bean class = "com.zsj.core.test.controller.aop.AspectJTest"></bean>

	<bean id = "testTwo" class = "com.zsj.core.test.controller.aop.TestBeanTwo"></bean>
	<bean class = "com.zsj.core.test.controller.aop.AspectJTestTwo"></bean>
	<context:load-time-weaver />
</beans>
