<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       						http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myTestBean" class="com.zsj.core.test.controller.ioc.MyTestBean">
<!--	<bean id="myTestBean" class="com.zsj.core.test.controller.ioc.MyTestBeanFactoryBean">-->
<!--		<property name="nameInfo" value="我还是猪！！！" />-->
	</bean>
<!--	书上的下面这种写法是错误的，nameInfo 属性会报红-->
<!--	<bean id="myTestBean" class="com.zsj.core.test.controller.ioc.MyTestBeanFactoryBean" nameInfo="我就是猪" />-->
<!--		<property name="name" value="我还是猪！！！" />-->
<!--	</bean>-->

	<bean id="myBeanFactoryPostProcessor" class="com.zsj.core.test.controller.ioc.MyBeanFactoryPostProcessor" />
	<bean id="myBeanPostProcessor" class="com.zsj.core.test.controller.ioc.MyBeanPostProcessor" />
	<bean id="myBeanDefinitionRegistryPostProcessor" class="com.zsj.core.test.controller.ioc.MyBeanDefinitionRegistryPostProcessor" />

	<bean id="notifyListener" class="com.zsj.core.test.controller.ioc.NotifyListener" />
	<bean id="myApplicationListener" class="com.zsj.core.test.controller.ioc.MyApplicationListener" />
	<bean id="initDestroyAnnotationBeanPostProcessor" class="org.springframework.beans.factory.annotation.InitDestroyAnnotationBeanPostProcessor" />
<!--	<bean id="NotifyEvent" class="com.zsj.core.test.controller.ioc.NotifyEvent">-->
<!--		<constructor-arg name="source" value="object"></constructor-arg>-->
<!--		<constructor-arg name="email" value="123@qq.com"></constructor-arg>-->
<!--		<constructor-arg name="content" value="This is the content"></constructor-arg>-->

<!--&lt;!&ndash;		<constructor-arg index="0" type="java.lang.Object" value="object"></constructor-arg>&ndash;&gt;-->
<!--&lt;!&ndash;		<constructor-arg index="1" type="java.lang.String" value="123@qq.com"></constructor-arg>&ndash;&gt;-->
<!--&lt;!&ndash;		<constructor-arg index="2" type="java.lang.String" value="This is the content"></constructor-arg>&ndash;&gt;-->
<!--	</bean>-->
	<!--    <bean id="testBean" class="com.zsj.core.test.controller.ioc.MyTestBean"/>-->
<!--    <bean class="com.zsj.core.test.controller.MyTestBean"></bean>-->
<!--	<bean id="student" class="com.zsj.core.test.controller.Student">-->
<!--		<constructor-arg name="id" value="1"/>-->
<!--		<constructor-arg name="name" value="student"/>-->
<!--		<constructor-arg name="dream">-->
<!--			<list>-->
<!--				<value>soldier</value>-->
<!--				<value>scientist</value>-->
<!--				<value>pilot</value>-->
<!--			</list>-->
<!--		</constructor-arg>-->
<!--		<constructor-arg name="score">-->
<!--			<map>-->
<!--				<entry key="math" value="90"/>-->
<!--				<entry key="english" value="85"/>-->
<!--			</map>-->
<!--		</constructor-arg>-->
<!--		<constructor-arg name="graduation" value="false"/>-->
<!--	</bean>-->
</beans>
